$white: #FFFFFF;
$gray: #F7F7F7;
$gray-middle: #858585;
$gray-dark: #333333;
$black: #000000;

// buttons
$button--gray: #F2F1F0;
$button--white: #FFFFFF;
$button--yellow: #FFD93E;
$button--dark-yellow: #FFCD00;

// temperature modal
$temperature--orenge: #F76B1C;
$temperature--yellow: #FFD800;
$temperature--blue: #068FFF;

// light modal
$light--yellow: #FFE88C;
$light--orange: #FFB100;